header {
  height: 4rem;
  background-color: rgb(29, 30, 43);
  color: rgb(234, 234, 234);
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-weight: 100;
}

header h1 > span {
  font-weight: 400;
}

header > div {
  display: flex;
  align-items: center;
}
